/* Buka file index.css atau App.css, hapus semua bawaan React, masukkan ini: */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
}